
#top {
    position: relative;
    background-color: #76C7C0;
    color: #F8FCFF;
    padding: 5px;
    margin: 30px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #6AB3AC;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    font-weight : bold;
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 300px;
}

.center_content {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 37%;
    padding-right: 37%;
}

.left_content { 
    position: relative;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: #F8FCFF;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#frmAutenticacion{
background-color: black; 
}

#cuadro{
    margin: 2px auto;
    width: 100px !important;
    text-align: center;   
}
